* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #ddd;
  display: grid;
}
header h1 {
  place-self: center;
  text-align: center;
  font-weight: bold;
  color: #000;
}

main {
  --space: 32px;
  padding: var(--space);
  gap: var(--space);
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  border-top: 4px solid #fff;
}

a {
  --border-radius: 8px;
  border-radius: var(--border-radius);
  position: relative;
  aspect-ratio: 16 / 9;
  color: #000;
  text-decoration: none;
  outline: 1px solid #444;
  background-size: cover;
  background-position: center;
  transition: 500ms;
}
a:hover {
  scale: 1.05;
  transition: 200ms;
  z-index: 100;
}

.project-text {
  left: 0;
  right: 0;
  color: #fff;
  padding: 16px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(#0000, #000c);
  border-radius: var(--border-radius);
}
