@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Raleway, Montserrat, Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --header-color: #111;
  --prime: #fdf300;

  --c1: #72efdd;
  --c2: #4ea8de;
  --c3: #6930c3;

  --transition-in: 300ms;
  --transition-out: 600ms;
}

::selection {
  background-color: var(--prime);
  color: #000;
}

body {
  position: relative;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--header-color);
  padding: 24px;
}
#header-container {
  position: relative;
  height: 100%;
  width: 100%;
  --shadow-width: 16px;
  padding: var(--shadow-width) 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#header-container::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 var(--shadow-width) var(--shadow-width) var(--header-color);
}

.row {
  align-self: self-end;
  animation: move-text 15s linear infinite;
}
.row span {
  font-family: 'Courier New', Courier, monospace;
  color: #666;
}
.name {
  color: #ddd !important;
}
@keyframes move-text {
  100% {
    transform: translateX(var(--x));
  }
}

main {
  width: 100%;
  position: relative;
  padding: 16px 0;
  background-color: #111;
  color: #fff;
  overflow: hidden;
}

#main-top {
  position: relative;
  width: 100%;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 128px 0;
}
#main-top h1 {
  width: fit-content;
  white-space: nowrap;
  font-size: 56px;
  translate: 0 100px;
}
.line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.line:first-of-type {
  translate: -50vh 0;
}
.line:last-of-type {
  translate: 50vh 0;
}

#main-top.animation .line,
#main-top.animation h1 {
  animation: title-fly-in 1s ease forwards;
}
@keyframes title-fly-in {
  100% {
    translate: 0 0;
  }
}

section {
  position: relative;
  padding: 32px 96px;
  margin: 64px 0;
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
  
  display: grid;
  align-items: center;
  gap: 96px;
}
section.right {
  grid-template-columns: 1fr 1fr;
  right: 20px;
  border-radius: 0 100vh 100vh 0;
  --offset: -100vw;
  opacity: 0;
  background-image: linear-gradient(90deg, var(--c1), var(--c2), var(--c3));
}
section.left {
  grid-template-columns: 1fr 1fr;
  left: 20px;
  border-radius: 100vh 0 0 100vh;
  --offset: 100vw;
  opacity: 0;
  background-image: linear-gradient(90deg, var(--c3), var(--c2), var(--c1));
}
section.animation {
  animation: section-fly-in ease 2s forwards;
}
@keyframes section-fly-in {
  0% {
    translate: var(--offset);
    opacity: 1;
  }
  100% {
    translate: 0;
    opacity: 1;
  }
}

section h2 {
  position: relative;
  font-size: 48px;
}
section.right h2 {
  text-align: left;
}
section.left h2 {
  text-align: right;
}

section a {
  position: relative;
  height: 100%;
  width: 100%;
  right: 0;
  aspect-ratio: 16 / 9;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}

section a .overlay {
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 40px #333;
  transition: var(--transition-out);
}
section a:hover .overlay {
  transition: var(--transition-in);
  background-color: #0005;
}

section a::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 20%;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transition: var(--transition-out);
}
section a:hover::after {
transition: var(--transition-in);
background-color: #fff;
}

section a img {
  position: relative;
  height: 100%;
  transition: var(--transition-out);
}
section a:hover img {
  transition: var(--transition-in);
  scale: 1.2;
}
